{% extends "deco.html" %}
{% block content %}

	
<div class="container">	
	<b><h1>La team NoHaTien (nom non validé) vous présente ... wym</h1></b>	
</div> 

	
<center><image src="{{ url_for('static', filename='images/noemi.jpeg')}}"><image src="{{ url_for('static', filename='images/mohamed.jpeg')}}"></image><image src="{{ url_for('static', filename='images/sebastien.jpeg')}}"></center>	





<center><image src="{{ url_for('static', filename='images/logo_wym.png')}}"></center>	

<center><i><h1> Qui sommes-nous ?</h1></i></center>
<h3> WYM Group est une entreprise familiale qui s’engage a offrir des produits de haute qualité à prix abordables tout en restant flexibles pour répondre aux besoins des clients. Nous misons sur l’automatisation et l’innovation pour proposer des solutions d’affaires créatives. </h3>
<h3> Nous offrons des produits diversifiés s’adressant aussi bien aux marchés domestique, commercial/industriel et institutionnel. Ça inclut des produits de papier tissu, des détergents ainsi que des produits de protection, en plus des services de conversion de bobines mères Selon les besoins de nos clients.</h3>

<center><image src="{{ url_for('static', filename='images/wym_QSN.png')}}">	</center>


<center><i><h1> Services de Conversion </h1></i></center>

<h3> Que vous soyez une petite ou grande entreprise de conversion de papier, nous disposons des équipements et des produits pour répondre à vos besoins. Si vos équipements ne sont pas adaptés aux grandes bobines mères de papier tissu, nous pourrons convertir pour vous selon les dimensions de vos machines. Nous répondrons aux besoins de tous nos clients, quelle que soit leur taille d’exploitation et nous garantissons un produit de qualité vous permettant des opérations efficaces et rentables. </h3>
<h3> Nos équipements nous permettent de réduire la largeur et le diamètre des bobines mères pour convertir en serviettes de table, mouchoirs, mouchoirs de poche ou papier hygiénique. </h3>
<h3> Qualité, flexibilité, accessibilité, n’est pas juste un slogan mais c’est notre façon d’être et de faire pour assurer pleinement la satisfaction de nos clients. </h3>

<image src="{{ url_for('static', filename='images/wym_SdC.png')}}">	


<center><i><h1> à propos </h1></i></center>

<u><h2> Notre mission </h2></u>
<h3> WYM Group s’engage à offrir des produits de haute qualité à prix accessibles et abordables tout en restant flexibles pour répondre aux besoins des clients. Nous misons sur l’automatisation et l’innovation pour proposer des solutions d’affaires créatives.</h3>

<center><image src="{{ url_for('static', filename='images/wym_apnm.png')}}"></center>



<u><h2> Ce que nous faisons </h2></u>
<h3> WYM Group est une entreprise familiale. Nous offrons des produits diversifiés s’adressant aussi bien aux marchés domestique, commercial/industriel et institutionnel. Ça inclut des produits de papier tissu,  des détergents, des produits de protection, en plus des services de conversion  des bobines mères selon les besoins des clients.</h3>
<h3> WYM Group offre ses propres marques mais reste disposée à produire sous votre marque si le volume le justifie.</h3>
<h3> Notre entreprise offre une large gamme de produits de tissus, y compris: papier hygiénique, serviettes de table, mouchoirs, papier de cuisine, essuie tout ainsi qu’une large gamme de produits détergents à usage domestique, commercial ou industriel, et des produits de protection comme des masques jetables de qualité supérieure, des produits désinfectants et des serviettes humides pour différents usages.</h3>
<h3> Nous sommes une entreprise qui reste à l’affût des avancées technologiques et l’évolution des besoins des clients.</h3>

<center><b><h1> Joignez-vous à l'équipe Wym ! </h1></b></center>
<center><image src="{{ url_for('static', filename='images/wym_apcqnf.png')}}"></center>







{% endblock content %}

