{% extends "deco.html" %}
{% block content %}

	
	
	<div class="container">	
		<h1>Formulaire de contact</h1>
		
	</div> 

<div class="content-section">

	<form method="POST" action="">
		{{ form.hidden_tag()}}
		<fieldset class="form-group">
			<legend class="border-bottom mb-4">Postez-donc !</legend>
			<div class="form-group">
				{{ form.nom.label(class="form-control-label") }}
				{{ form.nom(class="form-control form-control-lg") }}
			</div>

			<div class="form-group">
				{{ form.prenom.label(class="form-control-label") }}
				{{ form.prenom(class="form-control form-control-lg") }}
			</div>

			<div class="form-group">
				{{ form.email.label(class="form-control-label") }}
				{{ form.email(class="form-control form-control-lg") }}
			</div>

			<div class="form-group">
				{{ form.telephone.label(class="form-control-label") }}
				{{ form.telephone(class="form-control form-control-lg") }}
			</div>

			<div class="form-group">
				{{ form.commentaire.label(class="form-control-label") }}
				{{ form.commentaire(class="form-control form-control-lg") }}
			</div>

		</fieldset>
		<div class="form-group">
			{{ form.submit(class="btn btn-outline-info") }}

		</div>


	</form>

</div>






{% endblock content %}